<!doctype html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Rest Query</title>
</head>
<body>
   <div class="container py-4 px-3 mx-auto">
      <div class="card">
         <div class="card-header">
            <button class="btn btn-primary btn-sm exec-button">Execute</button>
         </div>
         <div class="card-body">
            <div class="query-editor border"></div>
         </div>
      </div>
   </div>
</body>
</html>